*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background: url("./01.-Royal-Heath.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    font-family: "popins", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;

}
.container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 27rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    background: radial-gradient(103.27% 501.62% at 1.93% 3.93%, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.78) 0.01%, rgba(255, 255, 255, 0.13) 100%);
    box-shadow: 80px 120px 100px rgba(0, 0, 0, 0.05);
}
.sneaker{
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sneaker img{
    width: 60%;
    z-index: 11;
    transition: all 0.75s ease-out;
    border-radius: 50%;
}
.circle{
    width: 10rem;
    height: 10rem;
    background: linear-gradient(
        to right,
        rgba(245,70,66,0.75),
        rgba(8,83,156,0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    transition: all 0.75s ease-out;
}

.title{
 font-weight: 2em;
}
.info{
    min-height: 20vh;
}
.info h1{
    font-size: 2rem;
    transition: all 0.75s ease-out;
}
.info h3{
    font-size: 0.7rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}
.sizes{
    display: flex;
    justify-content: space-between;
    min-height: 5vh;
    transition: all 0.75s ease-out;
}
.sizes a{
    padding: 0.5rem 1rem;
    /* background: blue; */
    border: none;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
}
.fa{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.purchase{
    margin-top: 12%;
    min-height: 10vh;
    transition: all 0.75s ease-out;
}
.purchase button{
    width: 100%;
    padding: 1rem 0rem;
    background: #f54642;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
}